@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pretendard:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-500: oklch(60% 0.2 200);

  --font-sans: var(--font-pretendard);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
  button {
    line-height: 1;
  }
}

@layer utilities {
  .bg-glass-filter {
    /* position: absolute;
    z-index: 10; */
  }
  .bg-glass-filter:before {
    content: '';
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(16px) saturate(110%);
    transform: rotate(180deg) translateY(50%);
    mask-image: url(#frostyGlassMask);
    z-index: -1;
    pointer-events: none;
  }
  .bg-glass-filter:after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow:
      inset 1px 1px 0 0 #d8d9d9,
      inset -4px -4px 1px -4px #ffffff,
      inset -1px -1px 0 0 #a5a5a5cc,
      inset 1px 1px 5px 0 #aeadb966,
      inset -2px -6px 20px 0 rgba(0, 0, 0, 0.04),
      4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    pointer-events: none;
    border-radius: 40px;
  }
  .bg-glass-filter_mask {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
}
